.pre_load .wrapper {
	font-size: 25px;
	width: 160px;
	height: 50px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -80px;
	line-height: 50px;
	text-align: center;
	font-family: 'Racing Sans One', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	color: #444;
	text-shadow: 0 .04em rgba(255, 255, 255, 0.9);
	z-index: 555;
}

.pre_load .inner {
	width: 100%;
	height: 100%
}

.pre_load .inner span {
	display: inline-block;
	-webkit-animation: loading-1 1.5s ease-out infinite;
	-moz-animation: loading-1 1.5s ease-out infinite;
	-ms-animation: loading-1 1.5s ease-out infinite;
	-o-animation: loading-1 1.5s ease-out infinite;
	animation: loading-1 1.5s ease-out infinite;
}

.pre_load .inner span:nth-child(1) {
	-webkit-animation-name: loading-1;
	-moz-animation-name: loading-1;
	-ms-animation-name: loading-1;
	-o-animation-name: loading-1;
	animation-name: loading-1;
}

.pre_load .inner span:nth-child(2) {
	-webkit-animation-name: loading-2;
	-moz-animation-name: loading-2;
	-ms-animation-name: loading-2;
	-o-animation-name: loading-2;
	animation-name: loading-2;
}

.pre_load .inner span:nth-child(3) {
	-webkit-animation-name: loading-3;
	-moz-animation-name: loading-3;
	-ms-animation-name: loading-3;
	-o-animation-name: loading-3;
	animation-name: loading-3;
}

.pre_load .inner span:nth-child(4) {
	-webkit-animation-name: loading-4;
	-moz-animation-name: loading-4;
	-ms-animation-name: loading-4;
	-o-animation-name: loading-4;
	animation-name: loading-4;
}

.pre_load .inner span:nth-child(5) {
	-webkit-animation-name: loading-5;
	-moz-animation-name: loading-5;
	-ms-animation-name: loading-5;
	-o-animation-name: loading-5;
	animation-name: loading-5;
}

.pre_load .inner span:nth-child(6) {
	-webkit-animation-name: loading-6;
	-moz-animation-name: loading-6;
	-ms-animation-name: loading-6;
	-o-animation-name: loading-6;
	animation-name: loading-6;
}

.pre_load .inner span:nth-child(7) {
	-webkit-animation-name: loading-7;
	-moz-animation-name: loading-7;
	-ms-animation-name: loading-7;
	-o-animation-name: loading-7;
	animation-name: loading-7;
}

@-webkit-keyframes steam {
	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes steam {
	to {
		-moz-transform: rotate(360deg)
	}
}

@-ms-keyframes steam {
	to {
		-ms-transform: rotate(360deg)
	}
}

@-o-keyframes steam {
	to {
		-o-transform: rotate(360deg)
	}
}

@keyframes steam {
	to {
		transform: rotate(360deg)
	}
}

@-webkit-keyframes loading-1 {
	14.28% {
		opacity: 0.3
	}
}

@-webkit-keyframes loading-2 {
	28.57% {
		opacity: 0.3
	}
}

@-webkit-keyframes loading-3 {
	42.86% {
		opacity: 0.3
	}
}

@-webkit-keyframes loading-4 {
	57.14% {
		opacity: 0.3
	}
}

@-webkit-keyframes loading-5 {
	71.43% {
		opacity: 0.3
	}
}

@-webkit-keyframes loading-6 {
	85.71% {
		opacity: 0.3
	}
}

@-webkit-keyframes loading-7 {
	100% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-1 {
	14.28% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-2 {
	28.57% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-3 {
	42.86% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-4 {
	57.14% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-5 {
	71.43% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-6 {
	85.71% {
		opacity: 0.3
	}
}

@-moz-keyframes loading-7 {
	100% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-1 {
	14.28% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-2 {
	28.57% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-3 {
	42.86% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-4 {
	57.14% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-5 {
	71.43% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-6 {
	85.71% {
		opacity: 0.3
	}
}

@-ms-keyframes loading-7 {
	100% {
		opacity: 0.3
	}
}

@-o-keyframes loading-1 {
	14.28% {
		opacity: 0.3
	}
}

@-o-keyframes loading-2 {
	28.57% {
		opacity: 0.3
	}
}

@-o-keyframes loading-3 {
	42.86% {
		opacity: 0.3
	}
}

@-o-keyframes loading-4 {
	57.14% {
		opacity: 0.3
	}
}

@-o-keyframes loading-5 {
	71.43% {
		opacity: 0.3
	}
}

@-o-keyframes loading-6 {
	85.71% {
		opacity: 0.3
	}
}

@-o-keyframes loading-7 {
	100% {
		opacity: 0.3
	}
}

@keyframes loading-1 {
	14.28% {
		opacity: 0.3
	}
}

@keyframes loading-2 {
	28.57% {
		opacity: 0.3
	}
}

@keyframes loading-3 {
	42.86% {
		opacity: 0.3
	}
}

@keyframes loading-4 {
	57.14% {
		opacity: 0.3
	}
}

@keyframes loading-5 {
	71.43% {
		opacity: 0.3
	}
}

@keyframes loading-6 {
	85.71% {
		opacity: 0.3
	}
}

@keyframes loading-7 {
	100% {
		opacity: 0.3
	}
}

.steam {
	-webkit-animation: steam 2.5s linear infinite;
	-moz-animation: steam 2.5s linear infinite;
	-ms-animation: steam 2.5s linear infinite;
	-o-animation: steam 2.5s linear infinite;
}